<mat-card appearance="outlined" class="task-card">
  <mat-card-header class="task-card__header">
    <mat-card-title>{{ title }}</mat-card-title>
    <div class="task-card__actions">
      <a
        mat-icon-button
        matTooltip="Edit Task"
        aria-label="Edit task icon link"
        [routerLink]="['/tasks', id, 'edit']"
      >
        <mat-icon>edit</mat-icon>
      </a>
      <button
        mat-icon-button
        (click)="deleteTask()"
        matTooltip="Delete Task"
        aria-label="Delete task icon"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <mat-checkbox
        [formControl]="completedCheckbox"
        [matTooltip]="
          completedCheckbox.value ? 'Mark as Pending' : 'Mark as Completed'
        "
      ></mat-checkbox>
    </div>
  </mat-card-header>
  <mat-card-content class="task-card__content">
    <p>{{ description }}</p>
  </mat-card-content>
  <mat-card-footer class="task-card__footer">
    <mat-chip-set aria-label="Task status">
      <mat-chip>
        {{ completedCheckbox.value ? "COMPLETED" : "PENDING" }}
      </mat-chip>
    </mat-chip-set>
    <time [dateTime]="creationDate">{{ formattedCreationDate }}</time>
  </mat-card-footer>
</mat-card>
